<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="/include/head"></head>
    <body>
        <div class="x-body">
            <div id="main" style="width: 100%;height:400px;"></div>
        </div>
        <script src="//cdn.bootcss.com/echarts/3.3.2/echarts.min.js" charset="utf-8"></script>
        <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));


        function splitData(rawData) {
            var categoryData = [];
            var values = []
            for (var i = 0; i < rawData.length; i++) {
                categoryData.push(rawData[i].splice(0, 1)[0]);
                values.push(rawData[i])
            }
            return {
                categoryData: categoryData,
                values: values
            };
        }

        function calculateMA(dayCount) {
            var result = [];
            for (var i = 0, len = data0.values.length; i < len; i++) {
                if (i < dayCount) {
                    result.push('-');
                    continue;
                }
                var sum = 0;
                for (var j = 0; j < dayCount; j++) {
                    sum += data0.values[i - j][1];
                }
                result.push(sum / dayCount);
            }
            return result;
        }

        $.get("getCashCount", {}, function (ret) {
            // 指定图表的配置项和数据
            // 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
            var data0 = splitData(ret.data);
            option = {
                title: { text: '资金k线图', left: 0 },
                tooltip: { trigger: 'axis', axisPointer: { type: 'line' } },
                legend: { data: ['日K', 'MA5', 'MA10', 'MA20', 'MA30'] },
                grid: { left: '10%', right: '10%', bottom: '15%' },
                xAxis: { type: 'category', data: data0.categoryData, scale: true, boundaryGap : false, axisLine: {onZero: false}, splitNumber: 20, min: 'dataMin', max: 'dataMax' },
                yAxis: {
                    scale: true,
                    splitArea: { show: true },
                },
                dataZoom: [
                    { type: 'inside', start: 0, end: 100 },
                    { show: true, type: 'slider', y: '90%', start: 0, end: 100 }
                ],
                series: [
                    {
                        type: 'candlestick',
                        data: data0.values,
                        markPoint: {
                            label: {
                                normal: {
                                    formatter: function (param) {
                                        return param != null ? Math.round(param.value) : '';
                                    }
                                }
                            },
                        },
                        markLine: {
                            symbol: ['none', 'none'],
                            data: [
                                [
                                    {
                                        name: 'from lowest to highest',
                                        type: 'min',
                                        valueDim: 'lowest',
                                        symbol: 'circle',
                                        symbolSize: 10,
                                        label: { normal: {show: false}, emphasis: {show: false} }
                                    },
                                    {
                                        type: 'max',
                                        valueDim: 'highest',
                                        symbol: 'circle',
                                        symbolSize: 10,
                                        label: { normal: {show: false}, emphasis: {show: false} }
                                    }
                                ],
                                { name: 'min line on close', type: 'min', valueDim: 'close' },
                                { name: 'max line on close', type: 'max', valueDim: 'close' }
                            ]
                        }
                    },
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }, "json");
    </script>
    </body>
</html>