<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="/include/head"></head>
<body class="layui-anim layui-anim-up">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">仓位管理</a>
        <a><cite>仓位列表</cite></a>
      </span>
</div>
<div class="x-body">
    <!--<div class="layui-row">-->
        <!--<form class="layui-form layui-col-md12 x-so">-->
            <!--<input class="layui-input" placeholder="开始日" name="start" id="start">-->
            <!--<input class="layui-input" placeholder="截止日" name="end" id="end">-->
            <!--<input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">-->
            <!--<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>-->
        <!--</form>-->
    <!--</div>-->
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('建仓','order-add', 600, 450)"><i class="layui-icon"></i>建仓</button>
        <button class="layui-btn" onclick="x_admin_show('建仓','order-finish', 800, 600)"><i class="layui-icon"></i>完整单</button>
    </xblock>
    <table id="orders-table-page" class="layui-table"></table>
</div>
<script>
    layui.use(['laydate', 'table'], function () {
        var laydate = layui.laydate;
        var table = layui.table;
        table.render({
            elem: '#orders-table-page'
            , url: 'orders'
            , cols: [
                [
                    {field: 'id', width: 80, title: 'ID'}
                    , {field: 'platform', width: 100, title: '平台', templet: '<div>{{ d.platform.name}}</div>'}
                    , {field: 'variety', width: 100, title: '品种', templet: '<div>{{ d.variety.varietyBase.name}}</div>'}
                    , {field: 'bbi', title: '方向', templet: '#bbi'}
                    , {field: 'startPoint', title: '开仓点位'}
                    , {field: 'startTime', width: 120, title: '开仓时间'}
                    , {field: 'endPoint', title: '平仓点位'}
                    , {field: 'endTime',width: 120, title: '平仓时间'}
                    , {field: 'number', title: '数量'}
                    , {field: 'loss', width: 190, title: '盈亏(盈利-手续费)', templet: '<div>{{ d.loss-d.poundage }}({{ d.loss}}-{{ d.poundage}})</div>'}
                    , {field: 'teacher', width: 190, title: '带盘老师', templet: '<div>{{d.teacher.name}}</div>'}
                    , {field: 'remarks', width: 190, title: '备注'}
                    , {field: 'status', width: 120, title: '操作', templet: '#checkboxTpl'}
                ]
            ]
            , page: true
            , even: true
        });
    });
</script>

<!-- 表格内部平仓按钮-->
<script type="text/html" id="checkboxTpl">
    {{# if(d.status != 1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit" onclick="x_admin_show('平仓','order-offset', 600, 400)">平仓</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit" onclick="x_admin_show('修改','order-offset', 600, 400)">修改</a>
    {{# }}}

    <a class="layui-btn layui-btn-xs btn-danger radius" lay-event="edit" onclick="x_admin_show('删除','order-offset', 600, 400)">删除</a>
</script>
<script type="text/html" id="bbi">
    {{# if(d.bbi == 1){ }}
        买入
    {{# }else{ }}
        卖出
    {{# } }}
</script>
</body>
</html>